<div class="auth-wrapper">
  <div class="auth-content" style="width: 30%">
    <div class="auth-bg">
      <span class="r"></span>
      <span class="r s"></span>
      <span class="r s"></span>
      <span class="r"></span>
    </div>
    <div class="card">
      <div class="card-body text-center">
        <div class="mb-4">
          <i class="feather icon-user-plus auth-icon"></i>
        </div>
        <h3 class="mb-4">Change Password</h3>
        <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
          <!-- New Password -->
          <div class="mb-3 text-start">
            <label for="newPassword" class="form-label">New Password</label>
            <input
              type="password"
              id="newPassword"
              formControlName="newPassword"
              class="form-control"
              [ngClass]="{ 'is-invalid': newPassword?.touched && newPassword?.invalid }"
            />
            <div *ngIf="newPassword?.touched && newPassword?.invalid" class="invalid-feedback">
              Password is required (min 6 chars).
            </div>
          </div>

          <!-- Confirm Password -->
          <div class="mb-3 text-start">
            <label for="confirmPassword" class="form-label">Confirm Password</label>
            <input
              type="password"
              id="confirmPassword"
              formControlName="confirmPassword"
              class="form-control"
              [ngClass]="{ 'is-invalid': confirmPassword?.touched && isPasswordMismatch }"
            />
            <div *ngIf="confirmPassword?.touched && isPasswordMismatch" class="invalid-feedback">
              Passwords do not match.
            </div>
          </div>

          <!-- Submit Button -->
          <button type="submit" class="btn btn-primary w-100" [disabled]="resetForm.invalid || isPasswordMismatch">
            Change Password
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
