<div class="container">
  <div class="row">
    <div class="card col-md-2 m-4">
      <div class="card-block">
        <div class="row d-flex align-items-center">
          <div class="col-auto">
            <i class="feather icon-zap text-c-green f-30"></i>
          </div>
          <div class="col">
            <h3 class="f-w-300">₹ {{walletDetails.walletBalance}}</h3>
            <span class="d-block text-uppercase">Wallet Balance</span>
          </div>
        </div>
      </div>
    </div>

    <div class="card col-md-2 m-4">
      <div class="card-block">
        <div class="row d-flex align-items-center">
          <div class="col-auto">
            <i class="feather icon-zap text-c-green f-30"></i>
          </div>
          <div class="col">
            <h3 class="f-w-300">{{walletDetails.availableCredits}}</h3>
            <span class="d-block text-uppercase">Credits</span>
          </div>
        </div>
      </div>
    </div>

    <div class="card col-md-2 m-4">
      <div class="card-block">
        <div class="row d-flex align-items-center">
          <div class="col-auto">
            <i class="feather icon-zap text-c-green f-30"></i>
          </div>
          <div class="col">
            <h3 class="f-w-300">{{response.custdetails.length}}</h3>
            <span class="d-block text-uppercase">Total Account Opened</span>
          </div>
        </div>
      </div>
    </div>

    <div class="card col-md-2 m-4">
      <div class="card-block">
        <div class="row d-flex align-items-center">
          <div class="col-auto">
            <i class="feather icon-zap text-c-green f-30"></i>
          </div>
          <div class="col">
            <span class="d-block text-uppercase">Open Account</span>
          </div>
          <div class="col">
            <button class="btn btn-primary m-l-50" (click)="openAppInNewTab()">Open</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Opened Accounts</h5>
        </div>
        <div class="card-body">
          <form [formGroup]="accountsForm">
            <div formArrayName="accounts" class="table-responsive">
              <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th>A/C No</th>
                    <th>A/C Type</th>
                    <th>Opened Date</th>
                    <th>Branch</th>
                    <th>Bank</th>
                    <th>Name</th>
                    <th>PAN</th>
                    <th>IFSC</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let group of accountsArray.controls; let i = index" [formGroupName]="i">
                    <td><input class="form-control" formControlName="account_number" /></td>
                    <td><input class="form-control" formControlName="account_type" /></td>
                    <td><input class="form-control" formControlName="account_open_dt" /></td>
                    <td><input class="form-control" formControlName="branch_name" /></td>
                    <td><input class="form-control" formControlName="bank_name" /></td>
                    <td><input class="form-control" formControlName="cust_name" /></td>
                    <td><input class="form-control" formControlName="pan" /></td>
                    <td><input class="form-control" formControlName="ifsc" /></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
